<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link type="text/css" rel="stylesheet" href="/{{mountPath}}/css/bootstrap.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="/{{mountPath}}/css/style.css" media="screen" />
        <script type="text/javascript" src="/{{mountPath}}/js/jquery.js"></script>
        <script type="text/javascript" src="/{{mountPath}}/js/bootstrap.js"></script> 
        <script type="text/javascript" src="/{{mountPath}}/js/plugin.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                if ($('#sidebar').height() < $('#mainbar').height()){
                    $('#sidebar').height($('#mainbar').height());
                } else {
                    $('#mainbar').height($('#sidebar').height());
                }
            });
        </script>
        <title>Aurora</title>
        <link rel='shortcut icon' href='/{{mountPath}}/img/favicon.png' />
    </head>
    <body>
        <script type='text/javascript'>
            function settitle() {
                var t = window.document.title;
                var n = t.match(/(\d*)\)/gi);
                console.log(n);
                if (n != null) {
                    n = parseInt(n) + 1;
                } else {
                    n = 1;
                }
                window.document.title = "(" + n + ") Aurora";
            }
            function resettile() {
                $.ajax({
                    type: "GET",
                    url: "/{{mountPath}}/process/broadcast",
                    data: {updatetime: ""}
                });
                window.document.title = "Aurora";
            }
            window.setTimeout("bchk();", 300000);
            $.ajax("/{{mountPath}}/process/broadcast").done(function(msg) {
                var json = eval('(' + msg + ')');
                console.log(msg);
                if (json.broadcast.length != 0) {
                    var str, i;
                    str = "";
                    for (i = 0; i < json.broadcast.length; i++){
                        str += "<b>" + json.broadcast[i].title + ":</b><br/>" + json.broadcast[i].msg + "<br/><br/>";
                    }
                    $("#bmsg").html(str);
                    $('#myModal').on('hidden.bs.modal', function() {
                        resettile();
                    });
                    $("#myModal").modal('show');
                    settitle();
                }
            });
            function bchk() {
                $.ajax("/{{mountPath}}/process/broadcast").done(function(msg) {
                    var json = eval('(' + msg + ')');
                    console.log(msg);
                    if (json.broadcast.length != 0) {
                        var str, i;
                        str = "";
                        for (i = 0; i < json.broadcast.length; i++){
                            str += "<b>" + json.broadcast[i].title + ":</b><br/>" + json.broadcast[i].msg + "<br/><br/>";
                        }
                        $("#bmsg").html(str);
                        $('#myModal').on('hidden.bs.modal', function() {
                            resettile();
                        });
                        $("#myModal").modal('show');
                        settitle();
                    }
                });
                window.setTimeout("bchk();", 600000);
            }
        </script>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Alert</h4>
                        </div>
                        <div class="modal-body" id="bmsg">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/{{mountPath}}/">Aurora</a>
                    </div>

                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="/{{mountPath}}/home">Home</a></li> -->
                            <li><a href="/{{mountPath}}/problems">Problems</a></li>
                            <li><a href="/{{mountPath}}/contests">Contests</a></li>
                            <li><a href="/{{mountPath}}/rankings">Rankings</a></li>
                            <li><a href="/{{mountPath}}/submissions">Submissions</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                                    <li><a href="/{{mountPath}}/faq">FAQ</a></li>
                                    <li><a href="/{{mountPath}}/contact">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        {{#if session.authorized}}
                        <ul class="nav navbar-nav pull-right">
                            {{#if session.isAdmin}}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href='/{{mountPath}}/adminjudge'>Judge Settings</a></li>
                                    <li><a href='/{{mountPath}}/adminproblem'>Problem Settings</a></li>
                                    <li><a href='/{{mountPath}}/admincontest'>Contest Settings</a></li>
                                    <li><a href='/{{mountPath}}/adminteam'>Team Settings</a></li>
                                    <li><a href='/{{mountPath}}/admingroup'>Group Settings</a></li>
                                    <li><a href='/{{mountPath}}/adminclar'>Clarifications</a></li>
                                    <li><a href='/{{mountPath}}/adminbroadcast'>Broadcast</a></li>
                                    <li><a href='/{{mountPath}}/adminlog'>Request Logs</a></li>                                            
                                </ul>
                            </li>
                            {{/if}}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href='/{{mountPath}}/edit'>Account Settings</a></li>
                                    <li><a href='/{{mountPath}}/process/logout'>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        {{/if}}
                    </div>
                </div> 
            </nav> 
            <div class="container bodycont">
                <div class='row'>
                    <div class='col-md-9' id='mainbar'>
                        {{#if flash}}
                            <div class="alert alert-dismissible alert-{{flash.type}}" style="margin-top: 20px;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <center><strong>{{flash.intro}}</strong> {{{flash.message}}}</center>
                            </div>
                        {{/if}}
                        {{{body}}}
                    </div>
                    <div class='col-md-3'>
                        <div id='sidebar'>
                            {{> loginbox}}
                            <hr/>
                            <h4>Contest Status</h4>
                            <a style="float:right;" href="#">View all</a>
                        </div>
                        <h4>Overall Rankings</h4>
                        <hr />
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="https://github.com/pushkar8723/Aurora" target="_blank">Aurora - An Open Source Online Judge</a>
            </div>
        </div>
    </body>
</html>
