{{#if problemCode}}
    {{#if problemDetails}}
        {{#if session.authorized}}
        {{#if session.isAdmin}}
            <a class='btn btn-primary pull-right' style='margin-top: 10px;' href='/{{mountPath}}/adminproblem/{{problemDetails.code}}'>
            <i class='glyphicon glyphicon-edit'></i> Edit</a>
        {{/if}}
        {{/if}}

        {{#if shouldHaveAccess}}
            <center><h1>{{problemDetails.name}}</h1></center>
            <div style='text-align:left'>
                {{#eq problemDetails.contest 'contest'}}
                    <span class='btn-group'>
                    <a class='btn btn-primary' href='/{{mountPath}}/contests/$result[pgroup]'><span class='glyphicon glyphicon-chevron-left'></span> Problems</a>
                    </span>
                {{/eq}}
                <span class='btn-group' style='float:right;'>
                {{#if session.authorized}}
                    <a class='btn btn-primary' href='/{{mountPath}}/status/{{problemDetails.code}},{{session.teamname}}'>My Submissions</a>
                {{/if}}
                    <a class='btn btn-primary' href='/{{mountPath}}/status/{{problemDetails.code}}'>All Submissions</a>
                {{#eq problemDetails.status 'Active'}}
                    <a class='btn btn-primary' href='/{{mountPath}}/submit/{{problemDetails.code}}'>Submit</a>
                {{else}}
                    {{#if session.authorized}}
                        {{#if session.isAdmin}}
                            <a class='btn btn-primary' href='/{{mountPath}}/submit/{{problemDetails.code}}'>Submit</a>
                        {{/if}}
                    {{/if}}
                {{/eq}}
                </span>
            </div>

            <br/><br/>{{{problemDetails.statement}}}<br/>
            <b>Time Limit :</b> {{problemDetails.timelimit}} Second(s)
            <br/>
            <b>Score :</b> {{problemDetails.score}} Point(s)
            <br/>
            <b>Input File Limit :</b> {{problemDetails.maxfilesize}} Bytes
            <br/>
            <b>Languages Allowed :</b> {{problemDetails.languages}}


            <hr/>

            <h3>Clarifications</h3>
            {{#if clars}}
                {{#each clars}}
                    <hr />
                    <b><a href='/{{mountPath}}/teams/{{teamname}}'>{{teamname}}</a>:<br/>Q. {{query}}</b>
                    <br/>
                    {{#eq reply ''}}
                        ' '
                    {{else}}
                        A. {{reply}}
                    {{/eq}}
                    {{#if ../session.isAdmin}}
                        <form role='form' method='post' action='/{{../mountPath}}/process/updateclaraccess'>
                            Access: <select style='width: 250px;' class='form-control' name='access'>
                                        <option value='public'
												{{#eq access 'public'}}
													selected='selected'
												{{/eq}}
										>Public</option>
                                        <option value='deleted'
												{{#eq access 'deleted'}}
													selected='selected'
												{{/eq}}
										>Deleted</option>
                                    </select>
                            <br/>
                            <input type='hidden' name='tid' value='{{tid}}' />
                            <input type='hidden' name='pid' value='{{pid}}' />
                            <input type='hidden' name='time' value='{{time}}'/>
                            <textarea class='form-control' name='reply' style='width: 450px; height: 100px;'>{{{reply}}}</textarea>
                            <br/>
                            <input type='submit' class='btn btn-primary' name='clarreply' value='Reply / Change Reply'/>
                        </form>
                    {{/if}}
                {{/each}}
            {{else}}
                No Clarifications.
                <br>
            {{/if}}
			{{#if session.authorized}}
				<hr/>
					<h3>Post Clarification</h3>
					<form action="/{{mountPath}}/process/postclar.php" role='form' method="post">
							<input type="hidden" value="{{pid}}" name="pid" />
							<textarea class='form-control' style="width: 500px; height: 200px;" name="query"></textarea><br/>
							<input name="clar" type="submit" class="btn btn-primary" />
					</form>
				<br/>
			{{/if}}
        {{else}}
            <br />
            <div class="alert alert-danger" role="alert">
                <b>Contest not yet started!</b>
            </div>
        {{/if}}
    {{else}}
        <br />
        <div class="alert alert-danger" role="alert">
            <b>Problem not found!</b>
        </div>
    {{/if}}
{{else}}
        <script src="/{{mountPath}}/js/custom.js" type="text/javascript"></script>
        <center>
			<h1>Practice Problems
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li id="prob_tag">Hide/Show Tag</li>
					</ul>
				</div>
			</h1>
		</center>
		<div id="table_prob_tag">
			<table  class='table table-hover'>
			{{#each problemList}}
				{{#if needHeader}}
					<tr>
						<td colspan='6'>
						<center>
						<h3>{{pgroup}}</h3>
						</center>
						</td>
					</tr>
					<tr>
						<th>Name</th>
						<th class='tabletaghidden'>Type</th>
						<th>Score</th>
						<th>Code</th>
						<th>Submissions</th>
						<th>Editorial</th>
					</tr>
				{{/if}}
				<tr {{#if solved}} class='success' {{/if}}>
					<td>
						<a href='/{{../mountPath}}/problems/{{code}}'>{{name}}</a>
					</td>
					<td class='tabletaghidden' >
						<a href='/{{../mountPath}}/problems/{{code}}'>{{type}}</a>
					</td>
					<td>
						<a href='/{{../mountPath}}/problems/{{code}}'>{{score}}</a>
					</td>
					<td>
						<a href='/{{../mountPath}}/submit/{{code}}'>{{code}}</a>
					</td>
					<td>
						<a href='/{{../mountPath}}/status/{{code}}'>{{solved}}/{{total}}</a>
					</td>
					<td>
						{{#if editorial}}
							<a href='/{{mountPath}}/editorial/{{code}}'>Link</a>
						{{else}}
							{{#if ../session.isAdmin}}
								<a href='/{{../mountPath}}/admineditorial/{{code}}'>Add</a>
							{{else}}
								None
							{{/if}}
						{{/if}}
					</td>
				</tr>
			{{/each}}
			</table>
		</div>
{{/if}}